.admin-dashboard-container {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  position: relative;
}


.admin-main-content {
  flex: 1;
  background-color: #ffffff;
  transition: margin-left 0.3s ease;
}


@media (max-width: 768px) {
  .admin-main-content {
    margin-top: 4rem; 
    width: 100%;
  }
}